/**
 * Test
 */

.test-horizontal {
  background-color: #333333;
  background-image: -moz-linear-gradient(left, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(left, #555555, #333333);
  background-image: -o-linear-gradient(left, #555555, #333333);
  background-image: linear-gradient(to right, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=1);
}

.test-vertical {
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=0);
}

.test-directional {
  background-color: #333333;
  background-image: -moz-linear-gradient(45deg, #555555, #333333);
  background-image: -webkit-linear-gradient(45deg, #555555, #333333);
  background-image: -o-linear-gradient(45deg, #555555, #333333);
  background-image: linear-gradient(45deg, #555555, #333333);
  background-repeat: repeat-x;
}
